body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: azure;
}

:root {
    --game-width: 700px;
    --game-height: 700px;
    --grid-size: 100;
    --cell-size: calc(var(--game-width) / var(--grid-size));
}

#gameContainer {
    width: var(--game-width);
    height: var(--game-height);
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    background-color: #f0f0f0;
}

.button {
    width: 100px;
    height: 50px;
    margin: 10px auto;
    background-color: aliceblue;
    font-size: 14px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    margin: 10px;
}

.textBox {
    width: 100px;
    height: 45px;
    margin: 10px auto;
    background-color: aliceblue;
    font-size: 14px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    box-sizing: border-box;
    border: 1px solid lightgrey;
}

.active {
    background-color: black;
}

.has-lived {
    /*background-color: silver;*/
    background-color: #f0f0f0;
}


