body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #e9edc9;
    width: 100%;
}

:root {
    --game-width: 700px;
    --game-height: 700px;
    --grid-size: 100;
    --cell-size: calc(var(--game-width) / var(--grid-size));
}

#gameContainer {
    width: var(--game-width);
    height: var(--game-height);
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    background-color: #fefae0;
}

.btn {
    background-color: #faedcd;
    border: 1px solid gray;
}

.btn-lg {
    width: 100px;
    height: 50px;
    margin: 10px auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 25%;
}

.btn-group .btn {
    border-radius: 0;
}

.toggle {
    background-color: #faedcd;
    color: black;
    padding: 10px;
    border: 1px solid gray;
    cursor: pointer;
}

.toggle.active {
    background-color: #ccd5ae;
    color: white;
}

.textbox {
    width: 50px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    background-color: #faedcd;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    box-sizing: border-box;
    border: 1px solid lightgrey;
}

.active {
    background-color: black;
}

.has-lived {
    /*background-color: silver;*/
    background-color: #fefae0;
}


